.container {
  margin-top: 20px;
}

.heading {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(6, 186, 6);
  margin-top: 30px;
}

.label {
  font-weight: 600;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.row {
  margin-top: 10px;
}

.col {
  margin-bottom: 10px;
}

.button {
  display: block;
  margin: 20px auto;
}
